
/* about */
.sec2{
    background-color: #43aad3;
    padding: 100px;
    
   
    
}
.box1{
    min-height: 500px;
    text-align: right;
    /* background-image: url(men-removebg-preview.png); */
    /* background-position: absolute; */
    /* background-size: cover; */
    margin-left: 0px;
}

.box2{
    color: white;
    text-align: center;
    min-height: 500px;
    min-width: 100%;
    /* background-color: #e1eef3; */
    
}
@media(max-width:768px){
    .box1{
        text-align: center;
    }
    .box1 img{
        height: 300px;
    }
}

.hr{
    background-color: white;
    height: 2px;
}
.btn{
    /* margin-top: 100px; */
}

.sec3{
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 20px;
}
.btn2{
    background-color: rgb(12, 81, 230);
    color: #fff5f5;
}


#sec4{
    min-height: 250px;
    width: 100%;
    background-color: rgb(153, 214, 238);
    /* margin-top: 30px; */
    text-align: center;
    margin-top: 30px;
    padding: 50px;
}

.col{
    margin-top: 20px;
}

.tape{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.sec5{
    min-height: 300px;
    width: 100%;
    text-align: center;
    background-color: rgb(14, 13, 13);
    color: #fff5f5;
    padding: 20px;
}

.btn3{
   margin-bottom: 30px;
}

/* section6 */
#sec6{
    background-color:white;
    min-height: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
    
}

.img{
    height: 300px;
    width: 100%;
    /* margin: 10px;
    gap: 1rem; */
    /* margin-left: 100px; */
    /* align-items: center; */
    object-fit: cover;
    object-position: top;
    
    
}
.imgs{
    height: 300px;
    text-align: center;
    margin-top: 10px;
}
    

/* section7 */
#sec7{
    min-height: 300px;
    width: 100%;
    text-align: center;
    background-color: rgb(56, 51, 51);
    color: white;
    padding: 20px;
}

#sec8{
    min-height: 200px;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.menhome{
    text-align: center;
    position:relative;
}


